/***********************footer**************/
footer {
	display: none !important;
  padding: 10px 0 10px 25%;
  border-top:{
  	width:1px;
  	style:solid;
  }
  overflow: hidden;
  @include box-sizing(border-box);
 	@media (min-width: $screen-sm-min){
 		display: block !important;
 	}
  @at-root .footer-container{
  	display: inline-block;
  	margin:0;
  	color: $nightFontColor;
  	font-size: $font-size-small;
    padding-left: $navbarSize + 20;
    vertical-align: middle;
    ul{
    	margin:0;
    	padding:0;
    	@include snsIconStyle(5px,$font-size-h2);
      li{margin-right:10px;}
    }
  }
}
.center-footer>footer{
	padding: 10px 45px;
	text-align: center;
	.footer-container{
		padding:0; 
	}
}