
$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "base.scss";
@import "header.scss";
@import "footer.scss";
@import "article.scss";
@import "home.scss";
@import "settings.scss";