.signin-box{
	@extend .flex-vertical-box;
	min-height: 450px;
	//margin-top: 50px;
	@media (max-height: 500px){
		margin-top: 50px;
	}
	@media (min-width: $screen-sm-min){
		padding-left: $navbarSize;
	}
}

.signin-container{
	display: inline-block; /* non-flexbox browsers */
	@include flex(1 0);
	.title{
		margin-bottom: 20px;
		text-align: center;
	}
	@at-root .signin-form{
		max-width: 300px;
		padding-bottom: 40px;
		margin: 0 auto 25px;
		border-bottom:{
			width: 1px;
			style: solid;
		};
		input{
			height: 44px;padding: 4px 12px;
			font-size: 16px;
		}
		.input-group-addon i{
			width: 14px;
		}
		.captcha-code{
			padding-left: 0;
		}
		.captcha-img{
			padding-right: 0;
			img{
				width:100%;
				height: 44px;
			}
		}
	}
	@at-root .login-sns{
		margin-left: 0;
		text-align: center;
		p{
			margin-bottom: 15px;
			text-align: center;
		}
		ul{
			padding: 0;
			margin: 10px auto;
			@include snsIconStyle(10px,44px);
		}

	}
}

//用户设置部分
.settings-box{
	@include public-box;
}
.settings-container {
    .title {
    	text-align: center;
      margin-bottom: 25px;
    }

    form.settings-form{
    	max-width: 300px;
    	margin:0 auto 40px;
    	input{
    		height: 44px;padding: 4px 12px;
    	}
    	.control-label{
    		font-size: 14px;
    		font-weight: normal;
    		line-height: 20px;
    	}
    }
    //apps
    .mobile-apps{
    	margin:40px auto;
    	.version{
    		text-align: center;
    		font-size: 24px;
    		line-height: 30px;
    		margin-bottom: 20px;
    		a{
    			margin-left: 10px;
    			color: $brand-success;
    		}
    	}
    	.downloads{
    		text-align: center;
    		li{
    			margin-bottom: 20px;
    			line-height: 58px;
    			vertical-align: middle;
    			a{
    				font-size: 20px;
    				width: 180px;
    				height: 58px;
    				text-align: left;
    				color: #fff;
    				i{
    					font-size: 36px;
    					width: 40px;
    					text-align: center;
    				}
    			}
    		}
    	}
    	.qrcode{
    		text-align: left;
    		img{
    			width: 135px;
    			border: 1px solid #d9d9d9;
    		}
    	}
    } 
}
